<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<form th:action="@{/car}" th:method="POST" th:object="${car}">
    <label for="title">Title: </label>
    <input id="title" th:field="*{title}" type="text"/>
    <br/>
    <label for="price">Price: </label>
    <input id="price" step="0.1" th:field="*{price}" type="number"/>
    <br/>
    <label for="horsePower">Horse Power: </label>
    <input id="horsePower" th:field="*{horsePower}" type="number"/>
    <br/>
    <label for="color">Color: </label>
    <input id="color" th:field="*{color}" type="text"/>
    <br/>
    <label for="volume">Volume: </label>
    <input id="volume" th:field="*{volume}" type="number"/>
    <br/>
    <input type="submit" value="Create">
</form>

</body>

</html>