<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Car</title>
</head>
<body>

<h1>Update Car</h1>

<form th:action="@{/car/{id}(id=${car.id})}" th:method="POST" th:object="${car}">
    <input name="_method" type="hidden" value="patch"/>

    <input th:field="*{id}" type="hidden"/>

    <label for="title">Title: </label>
    <input id="title" th:field="*{title}" type="text"/>
    <br/>

    <label for="price">Price: </label>
    <input id="price" step="0.1" th:field="*{price}" type="number"/>
    <br/>

    <label for="color">Color: </label>
    <input id="color" th:field="*{color}" type="text"/>
    <br/>

    <label for="horsePower">Horse Power: </label>
    <input id="horsePower" th:field="*{horsePower}" type="number"/>
    <br/>

    <label for="volume">Volume: </label>
    <input id="volume" th:field="*{volume}" type="number"/>
    <br/>

    <input type="submit" value="Update Car">
</form>

</body>
</html>
