<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rental profile</title>
    <link rel="stylesheet" th:href="@{/css/indexRental.css}">
</head>
<body>
<header>
    <h1>Управление арендой</h1>
    <p>Редактор записей аренды</p>
</header>

<script src="/js/alert.js"></script>

<div class="container">
    <div class="rental-list">
        <div class="rental-card" th:each="rental : ${rentals}">
            <img alt="Rental Image"
                 src="https://avatars.mds.yandex.net/i?id=374628b11f3b50bc0923a238081a3828_l-8498443-images-thumbs&n=13" th:src="'https://avatars.mds.yandex.net/i?id=374628b11f3b50bc0923a238081a3828_l-8498443-images-thumbs&n=13' +

        ${rental.userId}">
            <h3 th:text="${rental.userId}">Rental userId</h3>
            <p><strong>Арендованная машина:</strong> <span th:text="${rental.carId}">0</span></p>
            <p><strong>Арендованный мотоцикл:</strong> <span th:text="${rental.bikeId}">0</span></p>
            <p><strong>Дата начала аренды:</strong>
                <span th:text="${#temporals.format(rental.startDate, 'yyyy-MM-dd HH:mm')}">0</span>
            </p>
            <p><strong>Дата окончания аренды:</strong>
                <span th:text="${#temporals.format(rental.endDate, 'yyyy-MM-dd HH:mm')}">0</span>
            </p>
            <p><strong>Сумма к оплате:</strong> <span th:text="${rental.rentalAmount}">0</span></p>
            <p><strong>Статус оплаты:</strong> <span th:text="${rental.isPaid}">0</span></p>
            <a th:href="@{/rental/{id}(id=${rental.id})}">Выбрать эту аренду!</a>
        </div>
    </div>
</div>
<a href="rental/create"> Добавить аренду </a>
<footer>
    &copy; 2025 User profile.
</footer>
</body>
</html>