<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rental profile</title>
    <link rel="stylesheet" th:href="@{/css/rental.css}">
</head>
<body>
<header>
    <h1>Rental profile</h1>
    <p>Управление арендой</p>
</header>

<div class="container">
    <div class="rental-list">

        <img src="https://avatars.mds.yandex.net/i?id=e9ff67fb285fded714c1b843580a192a_l-5142520-images-thumbs&n=13"
             th:src="'https://avatars.mds.yandex.net/i?id=e9ff67fb285fded714c1b843580a192a_l-5142520-images-thumbs&n=13' +
                  ${rental.userId}" alt="Rental Image">

        <p><strong>UserID:</strong> <span th:text="${rental.userId}">0</span></p>
        <p><strong>Арендованная машина:</strong> <span th:text="${rental.carId}">0</span></p>
        <p><strong>Арендованный мотоцикл:</strong> <span th:text="${rental.bikeId}">0</span></p>
        <p><strong>Дата начала аренды:</strong>
            <span th:text="${#temporals.format(rental.startDate, 'yyyy-MM-dd HH:mm')}">0</span>
        </p>
        <p><strong>Дата окончания аренды:</strong>
            <span th:text="${#temporals.format(rental.endDate, 'yyyy-MM-dd HH:mm')}">0</span>
        </p>
        <p><strong>Сумма к оплате:</strong> <span th:text="${rental.rentalAmount}">0</span></p>
        <p><strong>Статус оплаты:</strong> <span th:text="${rental.isPaid}">0</span></p>

        <div class="actions">
            <a th:href="@{/rental/{id}/edit(id=${rental.id})}">Edit Rental</a>

            <form th:method="POST" th:action="@{/rental/{id}(id=${rental.id})}">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete">
            </form>
        </div>
    </div>
</div>

<footer>
    &copy; 2025 Редактор аренды.
</footer>
</body>
</html>