<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Rental</title>
    <link rel="stylesheet" th:href="@{/css/car.css}">
</head>
<body>
<header>
    <h1>Car Rental</h1>
    <p>Find the perfect car for your adventure!</p>
</header>

<div class="container">
    <div class="car-list">

        <img alt="Car Image"
             src="https://avatars.mds.yandex.net/i?id=1c457cfb35107bb2cb11deeca1c646ed_l-4012386-images-thumbs&n=13" th:src="'https://avatars.mds.yandex.net/i?id=1c457cfb35107bb2cb11deeca1c646ed_l-4012386-images-thumbs&n=13' +
                  ${car.title}">

        <p><strong>Модель:</strong> <span th:text="${car.title}">0</span></p>
        <p><strong>Цена:</strong> $<span th:text="${car.price}">0</span></p>
        <p><strong>Лошадиных сил:</strong> <span th:text="${car.horsePower}">0</span></p>
        <p><strong>Цвет:</strong> <span th:text="${car.color}">0</span></p>
        <p><strong>Объем:</strong> <span th:text="${car.volume}">0</span>L</p>

        <div class="actions">
            <a th:href="@{/car/{id}/edit(id=${car.id})}">Edit Car</a>

            <form th:action="@{/car/{id}(id=${car.id})}" th:method="POST">
                <input name="_method" type="hidden" value="DELETE">
                <input type="submit" value="Delete">
            </form>
        </div>
    </div>
</div>

<footer>
    &copy; 2025 Car Rental. All rights reserved.
</footer>
</body>
</html>