<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
<form th:method="POST" th:action="@{/car}" th:object="${car}">
  <label for="title">Title: </label>
  <input type="text" th:field="*{title}" id="title"/>
  <br/>
  <label for="price">Price: </label>
  <input type="number" step="0.1" th:field="*{price}" id="price"/>
  <br/>
  <label for="horsePower">Horse Power: </label>
  <input type="number" th:field="*{horsePower}" id="horsePower"/>
  <br/>
  <label for="color">Color: </label>
  <input type="text" th:field="*{color}" id="color"/>
  <br/>
  <label for="volume">Volume: </label>
  <input type="number" th:field="*{volume}" id="volume"/>
  <br/>
  <input type="submit" value="Create">
</form>

</body>

</html>