<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Motorcycle Rental</title>
  <link rel="stylesheet" th:href="@{/css/indexCar.css}">
</head>
<body>
<header>
  <h1>Аренда автомобилей!</h1>
  <p>Выбери идеального спутника для своих приключений!</p>
</header>

<script src="/js/alert.js"></script>

<div class="container">
  <div class="car-list">
    <div class="car-card" th:each="car : ${cars}">
      <img src="https://avatars.mds.yandex.net/i?id=b0dbc7054125ee8f71cfac5face199fd_l-4445006-images-thumbs&n=13"
           th:src="'https://avatars.mds.yandex.net/i?id=b0dbc7054125ee8f71cfac5face199fd_l-4445006-images-thumbs&n=13' +

        ${car.title}" alt="Car Image">
      <h3 th:text="${car.title}">Car Title</h3>
      <p><strong>Price:</strong> $<span th:text="${car.price}">0</span></p>
      <p><strong>Horse Power:</strong> <span th:text="${car.horsePower}">0</span></p>
      <p><strong>Color:</strong> <span th:text="${car.color}">0</span></p>
      <p><strong>Volume:</strong> <span th:text="${car.volume}">0</span>L</p>
      <a th:href="@{/car/{id}(id=${car.id})}">Выбрать эту модель!</a>
    </div>
  </div>
</div>
<a href="car/create"> Добавить машины </a>
<footer>
  &copy; 2025 Car Rental. All rights reservedfix.
</footer>
</body>
</html>