<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update bicycle</title>
</head>
<body>

<h1>Update bicycle</h1>

<form th:action="@{/bicycle/{id}(id=${bicycle.id})}" th:method="POST" th:object="${bicycle}">
    <input name="_method" type="hidden" value="patch"/>

    <input th:field="*{id}" type="hidden"/>

    <label for="model">Model: </label>
    <input id="model" th:field="*{model}" type="text"/>
    <br/>

    <label for="price">Price: </label>
    <input id="price" step="0.1" th:field="*{price}" type="number"/>
    <br/>

    <label for="color">Color: </label>
    <input id="color" th:field="*{color}" type="text"/>
    <br/>

    <input type="submit" value="Update bicycle">
</form>

</body>
</html>
