<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<form th:action="@{/bankcard}" th:method="POST" th:object="${bankcard}">
    <label for="userId">User ID: </label>
    <input id="userId" th:field="*{userId}" type="number"/>
    <br/>
    <label for="numberCard">Number Card: </label>
    <input id="numberCard" th:field="*{numberCard}" type="text"/>
    <br/>
    <label for="expirationDate">Срок действия: </label>
    <input id="expirationDate" placeholder="MM/YY" th:field="*{expirationDate}" type="text"/>
    <br/>
    <label for="secretCode">SecretCode: </label>
    <input id="secretCode" th:field="*{secretCode}" type="number"/>
    <br/>
    <input type="submit" value="Create">
</form>

</body>

</html>