<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Платежная информация</title>
    <link rel="stylesheet" th:href="@{/css/indexBankCard.css}">
</head>
<body>
<header>
    <h1>Платежная информация</h1>
    <p>Копейка рубль бережет!</p>
</header>

<script src="/js/alert.js"></script>

<div class="container">
    <div class="bankcard-list">
        <div class="bankcard-card" th:each="bankcard : ${bankcards}">
            <img alt="bankcard Image"
                 src="https://blizko.by/system/notes/imagefbs/000/038/881/original/karta_%285%29.jpg?1668070571" th:src="'https://blizko.by/system/notes/imagefbs/000/038/881/original/karta_%285%29.jpg?1668070571' +

        ${bankcard.userId}">
            <h3 th:text="${bankcard.id}">ID</h3>
            <p><strong>User ID:</strong> <span th:text="${bankcard.userId}">0</span></p>
            <p><strong>Номер карты:</strong> <span th:text="${bankcard.numberCard}">0</span></p>
            <p><strong>Срок годности:</strong> <span th:text="${bankcard.expirationDate}">0</span></p>
            <p><strong>Трех значный код:</strong> <span th:text="${bankcard.secretCode}">0</span></p>
            <a th:href="@{/bankcard/{id}(id=${bankcard.id})}">Выбрать эту карту!</a>
        </div>
    </div>
</div>
<a href="bankcard/create"> Добавить карту </a>
<footer>
    &copy; 2025 Bank card service. All rights reserved.
</footer>
</body>
</html>