<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновление банковских карт</title>
</head>
<body>

<h1>Обновление банковских карт</h1>

<form th:action="@{/bankcard/{id}(id=${bankcard.id})}" th:method="POST" th:object="${bankcard}">
    <input name="_method" type="hidden" value="patch"/>

    <input th:field="*{id}" type="hidden"/>

    <label for="userId">User ID: </label>
    <input id="userId" th:field="*{userId}" type="number"/>
    <br/>
    <label for="numberCard">Number Card: </label>
    <input id="numberCard" th:field="*{numberCard}" type="number"/>
    <br/>
    <label for="expirationDate">Срок действия: </label>
    <input id="expirationDate" th:field="*{expirationDate}" type="text"/>
    <br/>
    <label for="secretCode">SecretCode: </label>
    <input id="secretCode" th:field="*{secretCode}" type="number"/>
    <br/>

    <input type="submit" value="Update Bike">
</form>

</body>
</html>
