<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:type="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form th:method="POST" th:action="@{/bike}" th:object="${bike}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="price">Price: </label>
    <input type="number" th:field="*{price}" id="price"/>
    <br/>
    <label for="horsePower">Horse Power: </label>
    <input type="number" th:field="*{horsePower}" id="horsePower"/>
    <br/>
    <label for="volume">Volume: </label>
    <input type="number" th:field="*{volume}" id="volume"/>
    <br/>

    <input type="submit" value="Create">
  </form>
</body>
</html>