<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Motorcycle Rental</title>
    <link rel="stylesheet" th:href="@{/css/indexBike.css}">
</head>
<body>
<header>
    <h1>Motorcycle Rental</h1>
    <p>Выбери идеального спутника для своих приключений!</p>
</header>

<script src="/js/alert.js"></script>

<div class="container">
    <div class="bike-list">
        <div class="bike-card" th:each="bike : ${bikes}">
            <img alt="Bike Image"
                 src="https://avatars.mds.yandex.net/i?id=1254ba5e8975e27386206c4db6474b16_l-9854613-images-thumbs&n=13" th:src="'https://avatars.mds.yandex.net/i?id=1254ba5e8975e27386206c4db6474b16_l-9854613-images-thumbs&n=13' +

        ${bike.name}">
            <h3 th:text="${bike.name}">Bike Name</h3>
            <p><strong>Price:</strong> $<span th:text="${bike.price}">0</span></p>
            <p><strong>Horse Power:</strong> <span th:text="${bike.horsePower}">0</span></p>
            <p><strong>Volume:</strong> <span th:text="${bike.volume}">0</span>L</p>
            <a th:href="@{/bike/{id}(id=${bike.id})}">Выбрать эту модель!</a>
        </div>
    </div>
</div>
<a href="bike/create"> Добавить мотоцикл </a>
<footer>
    &copy; 2025 Motorcycle Rental. All rights reserved.
</footer>
</body>
</html>