<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<form th:action="@{/user}" th:method="POST" th:object="${user}">
    <label for="user_name">Логин: </label>
    <input id="user_name" th:field="*{userName}" type="text"/>
    <br/>
    <label for="first_name">Фамилия: </label>
    <input id="first_name" th:field="*{firstName}" type="text"/>
    <br/>
    <label for="last_name">Имя: </label>
    <input id="last_name" th:field="*{lastName}" type="text"/>
    <br/>
    <label for="passport">Паспорт: </label>
    <input id="passport" th:field="*{passport}" type="number"/>
    <br/>
    <label for="email">Email: </label>
    <input id="email" th:field="*{email}" type="text"/>
    <br/>
    <input type="submit" value="Create">
</form>

</body>

</html>