<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
    <link rel="stylesheet" th:href="@{/css/user.css}">
</head>
<body>
<header>
    <h1>User profile</h1>
    <p>Управление пользователями</p>
</header>

<div class="container">
    <div class="user-list">

        <img alt="User Image"
             src="https://avatars.mds.yandex.net/i?id=e9ff67fb285fded714c1b843580a192a_l-5142520-images-thumbs&n=13" th:src="'https://avatars.mds.yandex.net/i?id=e9ff67fb285fded714c1b843580a192a_l-5142520-images-thumbs&n=13' +
                  ${user.userName}">

        <p><strong>Логин:</strong> <span th:text="${user.userName}">0</span></p>
        <p><strong>Фамилия:</strong> <span th:text="${user.firstName}">0</span></p>
        <p><strong>Имя:</strong> <span th:text="${user.lastName}">0</span></p>
        <p><strong>Паспорт:</strong> <span th:text="${user.passport}">0</span></p>
        <p><strong>Email:</strong> <span th:text="${user.email}">0</span></p>

        <div class="actions">
            <a th:href="@{/user/{id}/edit(id=${user.id})}">Edit User</a>

            <form th:action="@{/user/{id}(id=${user.id})}" th:method="POST">
                <input name="_method" type="hidden" value="DELETE">
                <input type="submit" value="Delete">
            </form>
        </div>
    </div>
</div>

<footer>
    &copy; 2025 User profile.
</footer>
</body>
</html>