body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    padding: 20px;
}

.rental-list {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.actions {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Расстояние между кнопками */
    align-items: flex-start; /* Выравнивание кнопок по левому краю */
}

.actions a, .actions input[type="submit"] {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    width: 150px; /* Фиксированная ширина кнопок */
}

.actions input[type="submit"] {
    background-color: #dc3545;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
