<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Аренды</title>
</head>
<body>

<h1>Update Аренды</h1>

<form th:action="@{/rental/{id}(id=${rental.id})}" th:method="POST" th:object="${rental}">
    <input name="_method" type="hidden" value="patch"/>

    <input th:field="*{id}" type="hidden"/>

    <label for="user_id">ID пользователя: </label>
    <input id="user_id" required th:field="*{userId}" type="text"/>
    <br/>
    <label for="car_id">ID машины: </label>
    <input id="car_id" th:field="*{carId}" type="text"/>
    <br/>
    <label for="bike_id">ID мотоцикла: </label>
    <input id="bike_id" th:field="*{bikeId}" type="text"/>
    <br/>
    <label for="start_date">Начало аренды: </label>
    <input id="start_date" th:field="*{startDate}" type="datetime-local"/>
    <br/>
    <label for="end_date">Окончание аренды: </label>
    <input id="end_date" th:field="*{endDate}" type="datetime-local"/>
    <br/>
    <label for="rental_amount">Сумма к оплате: </label>
    <input id="rental_amount" required step="0.01" th:field="*{rentalAmount}" type="number"/>
    <br/>
    <label for="is_paid">Статус оплаты: </label>
    <input id="is_paid" th:field="*{isPaid}" type="checkbox"/>
    <br/>

    <input type="submit" value="Update Car">
</form>

</body>
</html>
